<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krmen.project" >

    <application
        android:allowBackup="true"
        android:background="@color/purple_200"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project" >
        <activity
            android:name=".menu.navBarIntentoNotes"
            android:exported="true" />
        <activity
            android:name=".questionnairesNotes.ResultActivity"
            android:exported="true" />
        <activity
            android:name=".questionnairesNotes.exercisePiano.tutorialExerciseOneActivity"
            android:exported="true" />
        <activity
            android:name=".instruments.instrumentHarmonica"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".instruments.instrumentFluter"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".instruments.instrumentBass"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".instruments.instrumentGuitar"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".instruments.instrumentPiano"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".menu.navBar"
            android:exported="true" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>